.site{
    display: flex;
}
.site-back img{
    cursor: pointer;
    margin-top: 25px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
}
.site-block{
    width: 800px;
}
.site-block h1{
    font-size: 33px;
    color: #216189;
}.site-block h2{
    font-size: 16px;
    font-weight: normal;
}
.site-block img{
    object-fit: cover;
    width: 600px;
    height: 400px;
}
.social p{
    color: #212121;
    font-weight: bold;
    font-size: 20px;
}
.social img{
    margin-top: 30px;
    width: 40px !important;
    height: 40px !important;
    border-radius: 200px;
}.social a:not(:first-child){
    margin-left: 5px;
 }
@media  screen and (max-width: 660px){
    .site-block img{
        width: 500px;
        height: 300px;
        object-fit: cover;
    }
}@media  screen and (max-width: 560px){
    .site-block img{
        width: 400px;
        height: 200px;
        object-fit: cover;
    }
}
@media  screen and (max-width: 439px){
    .site-block img{
        width: 350px;
        height: 150px;
        object-fit: cover;
    }
}@media  screen and (max-width: 380px){
    .site-block img{
        width: 300px;
        height: 150px;
        object-fit: cover;
    }
}
